body.mini-sidebar .sidebar .sidebar-menu > ul > li.submenu-open ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500; /* Replace with the appropriate value for $font-weight-medium */
    font-size: 15px; /* Replace with the appropriate value for $font-size-15 */
    color: #67748E;
    position: relative;
    width: 100%;
    padding: 10px;
}

body.mini-sidebar.expand-menu .sidebar .sidebar-menu > ul > li.submenu-open ul li a {
    justify-content: left;
    padding-left: 18px;
}
